.vs/
bin/
obj/
packages/
.idea/
.vscode/

# Ignore SQLite DB files
*.db
*.sqlite
*.sqlite3

# Ignore user-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Ignore standard VS temporary files
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
.vs/
nuget.exe      
